/** Project styling */

/** Your styles go here */
body{
  background-color: rgb(45, 111, 211);
}

h1{
  text-align: center;
  margin: 50px;
  color: rgb(243, 241, 237);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section{
  margin: 100px;
}

.container{
  align-items: center;
}
#search-input{
  margin-left: 600px;
  height: 20px;
  width: 200px;
}

#search-button{
  width: 75px;
  height: 22px;
  margin-left: 15px;
}