/** Project styling */

/** Your styles go here */
body{
  background-color: rgb(92, 102, 111);
}

h1{
  text-align: center;
  margin: 50px;
  color: rgb(203, 160, 67);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section{
  margin: 100px;
}